header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h1 {
    display: none; /* Oculta el texto "Musicology" */
  }

  .logo {
    max-width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
    margin: 0 auto; /* Centra el logo horizontalmente */
  }

  p {
    font-size: 24px;
    margin-top: 10px;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    margin: 50px auto;
    max-width: 600px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    width: 100%;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #606360;
    color: rgb(185, 181, 181);
}
/*
<!--        tr:nth-child(even) {-->
<!--            background-color: #f2f2f2;-->
<!--        }-->
<!--        tr:nth-child(odd) {-->
<!--            background-color: #4CAF50;-->
<!--        }-->
<!--        tr:hover {-->
<!--            background-color: #ddd;-->
<!--        }-->
*/
.btn {
    background-color: #606360;
    border: none;
    color: rgb(185, 181, 181);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-editar {
    background-color: #37778d;
}
.btn-borrar {
    background-color: #995550; 
    /*<!--#f14457;-->*/
}
.resaltado {
    background-color: yellow;
}

.star {
  display: inline-block;
  margin-right: 0px; /* Espacio entre estrellas */
  font-size: 14px;
}

.yellow{
    color: orange;
}

.gray{
    color: gray;
}

.fondo{
    background-color: rgb(61, 61, 60);
    color: rgb(211, 206, 206);
}

h1 {
  text-align: center;
}
.hidden {
  display: none;
}

/* component */

.star-rating {
border:solid 1px #ccc;
display:flex;
flex-direction: row-reverse;
font-size:1.5em;
justify-content:space-around;
padding:0 .2em;
text-align:center;
width:5em;
}

.star-rating input {
display:none;
}

.star-rating label {
color:#ccc;
cursor:pointer;
}

.star-rating :checked ~ label {
color:#f90;
}


p {
    padding: 1px 10px;
}

.star {
  display: inline-block;
  margin-right: 0px; /* Espacio entre estrellas */
  font-size: 14px;
}

.yellow{
    color: orange;
}

.gray{
    color: gray;
}


label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(117, 117, 116);
    color: rgb(211, 206, 206);
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #555;
}


/* component */

.star-rating {
border:solid 1px #ccc;
display:flex;
flex-direction: row-reverse;
font-size:1.5em;
justify-content:space-around;
padding:0 .2em;
text-align:center;
width:5em;
}

.star-rating input {
display:none;
}

.star-rating label {
color:#ccc;
cursor:pointer;
}

.star-rating :checked ~ label {
color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
color:#fc0;
}



.star {
display: inline-block;
margin-right: 0px; /* Espacio entre estrellas */
font-size: 14px;
}

.yellow{
color: orange;
}

.gray{
color: gray;
}


/* Este es el de editar, quizá corrija la desviacion de los demás forms */
 body {
    font-family: Arial, sans-serif;
           background-color: #f4f4f4;
}

form {
            background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    margin: 3px 3px;
    max-width: 530px;
} 

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(117, 117, 116);
    color: rgb(211, 206, 206);
}



button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #555;
}


/* component */

.star-rating {
border:solid 1px #ccc;
display:flex;
flex-direction: row-reverse;
font-size:1.5em;
justify-content:space-around;
padding:0 .2em;
text-align:center;
width:5em;
}

.star-rating input {
display:none;
}

.star-rating label {
color:#ccc;
cursor:pointer;
}

.star-rating :checked ~ label {
color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
color:#fc0;
}

.star {
display: inline-block;
margin-right: 0px; /* Espacio entre estrellas */
font-size: 14px;
}

.yellow{
color: orange;
}

.gray{
color: gray;
}