<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Registro</title>
</head>
<body>
<h1>Formulario de Registro</h1>

<form method="post" th:object="${registro}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
    <br>
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}" required>
    <br>
    <button type="submit">Guardar</button>
</form>

<a href="/">Volver a la lista de registros</a>
</body>
</html>
