<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <script type="text/javascript" th:src="@{/js/util.js}"></script>
    </head>

    <body class="fondo">
        <header>
            <h1>Musicology</h1>
            <img th:src="@{/images/logo1.png}" />
        </header>

        <button type="button" class="btn btn-success newBtn">Nuevo</button>
        <button type="button" class="btn btn-success rndBtn">Aleatorio</button>
        <table id="datatable" style="width: 100%" class="row-border compact stripe hover order-column">
            <thead>
                <tr style="padding-top: 10px">
                    <th></th>
                    <th></th>
                    <th>Nombre</th>
                    <th>Valoración</th>
                    <th>Estilo</th>
                    <th>Descripción</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="registro : ${registros}">
                    <!-- Botones -->
                    <td class="grid-cell" style="width: 70px">
                        <button
                            type="button"
                            class="btn btn-success editBtn"
                            th:data-id="${registro.id}"
                            th:data-nombre="${registro.nombre}"
                            th:data-puntuacion="${registro.puntuacion}"
                            th:data-estilo="${registro.estilo}"
                            th:data-descripcion="${registro.descripcion}"
                            th:data-observaciones="${registro.observaciones}"
                            data-toggle="modal"
                            data-target="#myEditModal"
                        >
                            <i class="fa fa-pencil"></i>
                            <!-- Icono de lápiz -->
                        </button>
                    </td>
                    <td class="grid-cell" style="width: 70px">
                        <a th:href="@{/borrar-registro/{id}(id=${registro.id})}" class="btn btn-borrar">
                            <i class="fa fa-trash"></i>
                            <!-- Icono de papelera -->
                        </a>
                    </td>
                    <td th:text="${registro.nombre}"></td>
                    <td>
                        <div style="width: 100px" th:attr="data-rating=${registro.puntuacion}">
                            <div class="hidden" th:text="${registro.puntuacion}"></div>
                            <span class="star"><i class="fa fa-star" th:classappend="${registro.puntuacion >= 2} ? 'yellow' : 'gray'"></i></span>
                            <span class="star"><i class="fa fa-star" th:classappend="${registro.puntuacion >= 4} ? 'yellow' : 'gray'"></i></span>
                            <span class="star"><i class="fa fa-star" th:classappend="${registro.puntuacion >= 6} ? 'yellow' : 'gray'"></i></span>
                            <span class="star"><i class="fa fa-star" th:classappend="${registro.puntuacion >= 8} ? 'yellow' : 'gray'"></i></span>
                            <span class="star"><i class="fa fa-star" th:classappend="${registro.puntuacion >= 10} ? 'yellow' : 'gray'"></i></span>
                        </div>
                    </td>
                    <td style="width: 100px" th:text="${registro.estilo}"></td>
                    <td style="width: 35%" th:text="${registro.descripcion}"></td>
                    <td style="width: 35%" th:text="${registro.observaciones}"></td>
<!--                    <td class="grid-cell" style="width: 70px">-->
<!--                        <button-->
<!--                            type="button"-->
<!--                            class="btn btn-success editBtn"-->
<!--                            th:data-id="${registro.id}"-->
<!--                            th:data-nombre="${registro.nombre}"-->
<!--                            th:data-puntuacion="${registro.puntuacion}"-->
<!--                            th:data-estilo="${registro.estilo}"-->
<!--                            th:data-descripcion="${registro.descripcion}"-->
<!--                            th:data-observaciones="${registro.observaciones}"-->
<!--                            data-toggle="modal"-->
<!--                            data-target="#myEditModal"-->
<!--                        >-->
<!--                            Editar-->
<!--                        </button>-->
<!--                    </td>-->
<!--                    <td class="grid-cell" style="width: 70px">-->
<!--                        <a th:href="@{/borrar-registro/{id}(id=${registro.id})}" class="btn btn-borrar">Borrar</a>-->
<!--                    </td>-->
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <div class="modal fade" id="myNewModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content fondo">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Nuevo Grupo</h4>
                    </div>
                    <div class="modal-body fondo"></div>
                    <div class="modal-footer">
                        <button style="text-align: left" type="submit" form="registroForm">Guardar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myRandomModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content fondo">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Grupo aleatorio</h4>
                    </div>
                    <div class="modal-body fondo"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myEditModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content fondo">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Editar Grupo</h4>
                        <p>Id del registro:</p>
                    </div>
                    <div class="modal-body"></div>

                    <div class="modal-footer">
                        <button style="text-align: left" type="submit" form="editarForm">Actualizar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function () {
            $("#datatable").DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json",
                },
            });
        });

        $(document).ready(function () {
            try {
                $(".editBtn").on("click", function () {
                    var id = $(this).data("id"); // Obtén el ID del registro
                    var nombre = $(this).data("nombre"); // Obtén los datos del registro
                    var puntuacion = $(this).data("puntuacion");
                    var estilo = $(this).data("estilo");
                    var descripcion = $(this).data("descripcion");
                    var observaciones = $(this).data("observaciones");

                    // Carga los datos en la modal
                    $("#id").val(id);
                    $("#nombre").val(nombre);
                    $("#puntuacion").val(puntuacion);
                    $("#estilo").val(estilo);
                    $("#descripcion").val(descripcion);
                    $("#observaciones").val(observaciones);

                    // Añade el nombre y el id del registro en la modal
                    $(".modal-title").text("Editar Grupo: " + nombre);
                    $(".modal-header p").text("Id del registro: " + id);

                    $(".modal-body").load("editar-registro/" + id, function () {
                        $("#myEditModal").modal("show");
                    });
                });
            } catch (error) {
                console.error("Ocurrió un error:", error);
            }
        });

        $(".updateBtn").on("click", function () {
            $("#editarForm").submit();
        });

        $(".newBtn").on("click", function () {
            $(".modal-body").load("nuevo-registro", function () {
                $("#myNewModal").modal("show");
            });
        });

        $(".rndBtn").on("click", function () {
            $(".modal-body").load("random", function () {
                $("#myRandomModal").modal({ show: true });
            });
        });

        $(document).ready(function () {
            $(".btn-borrar").on("click", function (event) {
                var confirmacion = confirm("¿Estás seguro de que quieres borrar este registro?");
                if (!confirmacion) {
                    event.preventDefault();
                }
            });
        });
    </script>
</html>
